<div class="section">
  <div class="container">
    <div class="">
      <div class="row">
        <% @listings.each do |listing| %>
          <div class="col-md-3">
            <div class="thumbnail">
              <%= link_to image_tag(listing.image.url(:medium)), listing %>
              <div class="caption">
                <h3><%= link_to listing.name, listing %></h3>
                <p class="amount"><%= number_to_currency(listing.price) %></p>

                <br>
                <% if (user_signed_in?) && (current_user == listing.user) %>
                  <%= link_to "Edit", edit_listing_path(listing), class: "fa fa-retweet"%>
                  <%= link_to "Delete", listing, class: "fa fa-trash-o", method: :get, data: {confirm: "Are you sure?"} %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <br>
    <% if user_signed_in? %>
    <%= link_to "New item", new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
  <% end %>
  </div>
</div>
