<%= simple_form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control"%>
    <small>Add a brand name or just a name for your store</small>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"%>
    <small>Add a description to your shop. This could be a summarized description of your brand.</small>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control"%>
    <small>Where is your store located</small>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control"%>
    <small>Store Contact Phone</small>
  </div>

  <div class="actions">
    <%= f.submit class: "button-other" %>
  </div>
<% end %>
