
<section class="section-home">
  <div class="container">
    <div class="row">
      <h4 class="page-header">Welcome back, <%= @user.username %>!</h4>
      <div class="col-md-3">
        <div class="">
          <span class="round-image-100"><%= image_tag(@user.image(:thumb)) %></span>
          <h4 style="font-weight: bold"><%= @user.first_name %> <%= @user.last_name %></h4>
          <br>
          <%= link_to "Add item", new_listing_path, class: "btn button-other"%>
          <% if (current_user != @user) %>
          <hr>
            <button type="button" name="button" class="btn button-default">Follow</button>
          <% end %>
          <hr>
          <p>
            Admirers
          </p>
          <p>
            Admiring
          </p>
          <p>
            Favorites
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="page-header">About <%= @user.username %></h4>

        <p>Joined on <%= @user.created_at.strftime("Joined %B-%d-%Y") %></p>
        <h4>Shipping Information</h4>
        <p>
          Address:
        </p>
        <p>
          Phone:
        </p>

        <h4 class="page-header">Messaging</h4>
      </div>

      <div class="col-md-3">
        <h5>Got any great stuff to sell?</h5><hr>
        <p>
          Display shop logo here!!!
        </p>
        <% if (user_signed_in?) && (current_user == @user) %>
          <% if @user.stores.count == 0 %>
            <h3><%= link_to 'Start your store', new_store_path, class: "btn button-other" %></h3>
          <% else %>
            <h4><%= @user.username %> has <%= @user.stores.count %> store(s)</h4>
            <span><%= link_to 'Visit store', store_path, class: "btn button-other" %></span>

          <% end %>
        <% else %>
          <h3><%= link_to 'Visit store', store_path, class: "btn button-other" %></h3>
        <% end %>

      </div>
    </div>
  </div>
</section>
