<%= simple_form_for([@listing, @order]) do |f| %>
  <%= f.error_notification %>

  <div class="form-group ">
    <%= f.input :address, class: "form-control" %>
    <%= f.input :city, class: "form-control"  %>
    <%= f.input :phone, class: "form-control"  %>
  </div>

  <div class="form-actions">
    <%= f.submit "Finish Order", class: "btn button-default" %>
  </div>
<% end %>
