
<br><div class="">
  <div class="container-fluid">
      <h2 class="page-header" style="text-align: center;"><%= @category.name %></h2>
      <div class="row">

        <div class="container">
          <div class="col-md-3">
            <%=  image_tag(@category.image.url(:medium)) %>
            <div class="panel">
              <h3 class="page-header" style="text-align: left; margin-left: -1.5rem;">Categories</h3>
              <ul class="cat-side">
               
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <% @categories.products.each do |product| %>
                  <div class="thumbnail">
                    <%= link_to image_tag(product.image.url(:medium)), product %>
                    <div class="caption">
                      <h3><%= link_to product.name, product %></h3>
                      <span class="left" style="text-transform: uppercase;"><%= product.user.username %></span>
                      <span class="amount right"><%= number_to_currency(product.price) %></span>

                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <hr>
    <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Back', categories_path %>

  </div>
</div>
